@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
    --primary-dark: #121212;
    --primary-light: #FFFFFF;
    --secondary-orange: #8980F5;
    --text-color: #ffffff;
    --icon-color: #9F50FA;
}

.responsive-icon-sizing {
    @apply text-lg xl:text-xl;
}

@layer base {
    html {
        @apply bg-(--primary-dark) text-lg font-light text-(--text-color) lg:text-xl xl:text-2xl;
    }

    h1 {
        @apply max-w-2xl border-b-2 border-(--icon-color) pb-1 text-center text-xl text-shadow-lg sm:text-2xl lg:text-3xl;
    }

    h2 {
        @apply text-xl text-shadow-lg lg:text-2xl;
    }

    h3 {
        @apply text-lg text-shadow-lg lg:text-xl;
    }

    h4 {
        @apply text-sm lg:text-lg;
    }

    a {
        @apply cursor-pointer underline transition hover:scale-105 hover:animate-pulse hover:text-(--icon-color) active:scale-110 active:animate-pulse active:underline;
    }
}

@plugin "@iconify/tailwind4";
@plugin 'tailwind-scrollbar';